.a{
    height: 700px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(215, 175, 181);
    transition: 1s;

}
.des{
    text-align: center;
    font-size: 30px;
}
img{
    width: 100%;
}
.a:hover{
    box-shadow: 5px 5px 3px black;
    border-radius: 10%;
}
.b{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: green;
    display: inline flex;
    margin: 10px ;
}
#absolute{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(153, 193, 153);
    display: inline flex;
    margin: 10px ;
    top: 5px;
    left: 5px;

    position: absolute;
}
#fixed{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(153, 193, 153);
    display: inline flex;
    margin: 10px ;
    top: 5px;
    left: 5px;

    position: fixed;
}