h2{
    color: orange;
    text-decoration: underline;
}
p{
    background-color: black;
    color: white;
}
button{

background-color: blue;
color: white;
}
button:hover{
    background-color: brown;
}
